{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/book.css' %}">
</head>
<body>
    <div class="store_container">
        <h1>book store</h1>
        {% for bookstore in book_store %}
        <h2>{{ bookstore.title}}</h2>
        <h3>{{ bookstore.subtitle}}</h3>
        <h3>{{ bookstore.description}}</h3>
        <h3>{{ bookstore.author}}</h3>
        <h3>{{ bookstore.price}}</h3>
        {% endfor %}
    </div>
    
</body>
</html>