{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/book.css' %}">
</head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
            {% csrf_token %}
            <input class="create_input" type="text" placeholder="написать заголовок" name="book_text"/>
            <button class="create_button">Добавить</button>
            </form>
        </div>
        <div class="store_container">
            {% for bookstore in book_store %}
            <div class="store_item">
                <div class="item">
                
                <h2>{{ bookstore.title}}</h2>
                <h3>{{ bookstore.subtitle}}</h3>
                <h3>{{ bookstore.description}}</h3>
                <h3>{{ bookstore.author}}</h3>
                <h3>{{ bookstore.price}}</h3>
                <img src="{% static './icons/EW_Harry-Potter_Featured.jpg' %}" width="250px" height="200px">
                
                </div>
                
            </div>
            {% endfor %}
        </div>
        
    </section>
    
    
</body>
</html>